.search-sec{
    width: auto;
}
.search-slt{
    display: block;
    width: 800px;
    font-size: 0.900rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:14px;
}
.barra{
    opacity: 1;
    background-color: darkorange;
}
.pezinho{
    opacity: 1;
    background-color: darkorange;
    height: 90px;
}
.text-center{
    font-style: italic;
    font-size: 30px;
    z-index: 2;
    position: relative;
}
.text-center2{
    text-align: center;
    z-index: 2;
    position: relative;
}
.cadastro{
    float: right;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:14px;
}
footer{
   height: 90px;
   background-color: darkgoldenrod;
   opacity: 0.2;
}
